body#custom-css {
  --mainColor: #71955a;
--mainBackgroundColor: #f0edd8;
--submenuBackgroundColor: #ffffff;
--channelBackgroundColor: #ffffff; 
--greyBackgroundColor: #e1dcb3;
--greyForegroundColor: #000000;
--greySecondaryBackgroundColor: #d7d09a;
--mainHoverColor: #000000;
}
